body{
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
div {
    background-image: url("/assets/pic/metro.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 500px;
}
h1 {
    margin: 10px 0;
}
h2 {
    margin-bottom: 20px;
}
#increment-btn , #save-btn, #reset-btn #delete-btn{
    border: none;
    padding: 10px 5px;
    color: #fff;
    width: 150px;
    border-radius: 7px;
}
#increment-btn{
    background: #00009a;
    font-weight: bold;
}
#save-btn{
    background: #006b00;
}
#reset-btn{
    background: #880000;
    border-radius: 7px;
}
#delete-btn{
    background: #07d2ff;
    border-radius: 7px;
}
#increment-btn:hover, #save-btn:hover, #delete-btn:hover{
    opacity: 0.6;
}
#save-el , #counter-el {
    color: white;
    font-size:xx-large;
}